@{
    ViewBag.Title = "Confirmación de contraseña olvidada";
}
<img class="logoimg" src="~/Imagenes/logo_nuevo_small.png" height="40" />
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Compruebe el correo electrónico para restablecer la contraseña.
        <hr />
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <input type="submit" class="btn btn-default" value="Ir a inicio" />
}
    </p>
</div>
	
